body{
  background-color:#212121;
  text-align:center;
}
/* #search{
  opacity :  ;
  border : 5px solid pink ;
  color : #64FFDA ;
  font-size : 80px
  background-color : pink;
} */
.searchbox input.lightsearch {
    background:  no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    font-size: 15px;
    height: 35px;
    margin-top: 24px;
    padding: 2px 5px 2px 24px;
    width: 270px;
    border : 3px solid #64FFDA ;
    border-radius : 5px;
    
}

a:hover {
  text-decoration: none;
}
a{
   color : black ;
}

#top
{
/*   position : absolute ; */
  height:100px ;
  
}

#preview{
  color : white;
}

#brief{
  border-style:solid;
border-color:#FFF;
padding: 14px ;
border-width: 1px ;
}

#show{
  background-color: #536DFE ;
}

#hide{
  background-color: #536DFE ;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 80px;
  background-color: #FF3D00;
  color: white ;
}

a{
  text-decoration: none ;
}

